@font-face
	font-family 'Museo Sans Cyrl 500'
	src local('MuseoSansCyrl-500'),
		url('../fonts/hinted-subset-MuseoSansCyrl-500.woff2') format('woff2'),
		url('../fonts/hinted-subset-MuseoSansCyrl-500.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Museo Sans Cyrl 300'
	src local('MuseoSansCyrl-300'),
		url('../fonts/hinted-subset-MuseoSansCyrl-300.woff2') format('woff2'),
		url('../fonts/hinted-subset-MuseoSansCyrl-300.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'TT Norms'
	src local('TT Norms Bold'), local('TTNorms-Bold'),
		url('../fonts/hinted-subset-TTNorms-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-TTNorms-Bold.woff') format('woff')
	font-weight bold
	font-style normal

@font-face
	font-family 'TT Norms'
	src local('TT Norms Medium'), local('TTNorms-Medium'),
		url('../fonts/hinted-subset-TTNorms-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-TTNorms-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'TT Norms'
	src local('TT Norms Regular'), local('TTNorms-Regular'),
		url('../fonts/hinted-subset-TTNorms-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-TTNorms-Regular.woff') format('woff')
	font-weight normal
	font-style normal


$t = 'TT Norms', "Helvetica Neue", Helvetica, Arial, sans-serif

$mM = 'Museo Sans Cyrl 500', "Helvetica Neue", Helvetica, Arial, sans-serif
$mL = 'Museo Sans Cyrl 300', "Helvetica Neue", Helvetica, Arial, sans-serif


