mixin main()
	main.main&attributes(attributes)
		.main__in.container
			h1.main__title.title
				span Лидер
				|  в автоматизации банковских бизнес-процессов

			.main__row
				.main__col-w
					.main__col
						.main__text
							p Автоматизация банковских бизнес-процессов Автоматизация банковских бизнес-процессов
					.main__col
						.main__text
							p Автоматизация банковских бизнес-процессов Автоматизация банковских бизнес-процессов

				a.main__button.button.popup-open(href="#popup") Запросить демонстрацию
