.header
	&__in
		padding-top 25px
		padding-bottom 25px
		display flex
		justify-content space-between
		+r($m)
			padding-top 30px
			padding-bottom 30px
	&__nav
		padding-top 26px
		+r($m)
			padding-top 16px
