mixin slider()
	.slider&attributes(attributes)
		.slider__in.container
			.slider__list
				.slider__item
					.slider__image
						img(src='assets/images/content/screen-1.png', srcset='assets/images/content/screen-1@2x.png 2x, assets/images/content/screen-1@3x.png 3x' alt='')
				.slider__item
					.slider__image
						img(src='assets/images/content/screen-2.png', srcset='assets/images/content/screen-2@2x.png 2x, assets/images/content/screen-2@3x.png 3x' alt='')
				.slider__item
					.slider__image
						img(src='assets/images/content/screen-3.png', srcset='assets/images/content/screen-3@2x.png 2x, assets/images/content/screen-3@3x.png 3x' alt='')
				.slider__item
					.slider__image
						img(src='assets/images/content/screen-1.png', srcset='assets/images/content/screen-1@2x.png 2x, assets/images/content/screen-1@3x.png 3x' alt='')
				.slider__item
					.slider__image
						img(src='assets/images/content/screen-2.png', srcset='assets/images/content/screen-2@2x.png 2x, assets/images/content/screen-2@3x.png 3x' alt='')
				.slider__item
					.slider__image
						img(src='assets/images/content/screen-3.png', srcset='assets/images/content/screen-3@2x.png 2x, assets/images/content/screen-3@3x.png 3x' alt='')
